#React-body {
  background-image: url('./rfm25es1j2iz.jpg');
  top: 14vh;
  left: 0;
  position:relative;
}

.login-bar {
  top: 0;
  left: 0;
  height: 14vh;
  width: 100vw;
  text-align: center;
  background: repeating-linear-gradient(59deg, #998090 0%, #998090 10%, #3f3344 0%, #3f3344 50%) 0 / 15px 15px;
  position: absolute;
}

.portfolio {
  text-align: center;
  top: 14vh;
  width: 100vw;
  color: white;
  /*overflow: hidden;*/
}

.about {
  text-align: center;
  width: 100vw;
  padding-top: 14vh;
}

a{
  color: #FE5F00;
  font-size: 7vh;
  font-family: 'Raleway', cursive;
}

h3 {
  width: 100vw;
  font-family: 'Monoton', cursive;
  animation: neon1 1.1s ease-in-out infinite alternate;
  font-size: 5vh;
  transition: all 0.5s;
  position: relative;
  padding-top: 2vh;
}

form {
  height: 80px;
}

@-webkit-keyframes neon1 {
  from {
    color: pink;
    text-shadow: 0 0 10px #3f3344, 0 0 20px #ca877c, 0 0 30px #3f3344, 0 0 40px #ca877c, 0 0 70px #3f3344, 0 0 80px #ca877c, 0 0 100px #ca877c, 0 0 150px #3f3344;
  }
  to {
    color: #3f3344;
    text-shadow: 0 0 5px #7b5a52, 0 0 10px #ca877c, 0 0 15px #7b5a52, 0 0 20px #ca877c, 0 0 35px #7b5a52, 0 0 40px #ca877c, 0 0 50px #7b5a52, 0 0 75px #ca877c;
  }
}

/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: relative;
  top: 2.5vh;
  left: 2.5vw;
  height: 87vh;
  width: 95vw;
}

.ring {
  width: 150%;
  height: 150%;
  border: double 10px darkgray;
  border-radius: 50%;
  top: -25%;
  left: -25%;
  position: absolute;
  transform: rotate3d(0.8, 0.2, 0, 75deg);
  box-sizing: border-box;
}

.ring1 {
  width: 150%;
  height: 150%;
  border: double 10px gold;
  border-radius: 50%;
  top: -25%;
  left: -25%;
  position: absolute;
  transform: rotate3d(0.8, 0.2, 0, 75deg);
  box-sizing: border-box;
  -webkit-animation: spin-right 2s linear infinite alternate;
  animation: spin-right 2s linear infinite alternate;
}

.ring2 {
  width: 150%;
  height: 150%;
  border: double 10px silver;
  border-radius: 50%;
  top: -25%;
  left: -25%;
  position: absolute;
  transform: rotate3d(1.8, 1.2, 0, 75deg);
  box-sizing: border-box;
  -webkit-animation: spin-right 4s linear infinite alternate;
  animation: spin-right 4s linear infinite alternate;
}

.ring3 {
  width: 150%;
  height: 150%;
  border: double 10px gold;
  border-radius: 50%;
  top: -25%;
  left: -25%;
  position: absolute;
  transform: rotate3d(0.8, 1.2, 0, 75deg);
  box-sizing: border-box;
  -webkit-animation: spin-right 8s linear infinite alternate;
  animation: spin-right 8s linear infinite alternate;
}

.ring4 {
  width: 150%;
  height: 150%;
  border: double 10px silver;
  border-radius: 50%;
  top: -25%;
  left: -25%;
  position: absolute;
  transform: rotate3d(0.4, 2.2, 0, 75deg);
  box-sizing: border-box;
  -webkit-animation: spin-right 1s linear infinite alternate;
  animation: spin-right 1s linear infinite alternate;
}

.ring5 {
  width: 150%;
  height: 150%;
  border: double 10px gold;
  border-radius: 50%;
  top: -25%;
  left: -25%;
  position: absolute;
  transform: rotate3d(-.4, 2.2, 0, 75deg);
  box-sizing: border-box;
  -webkit-animation: spin-right 2s linear infinite alternate;
  animation: spin-right 2s linear infinite alternate;
}

.ring6 {
  width: 150%;
  height: 150%;
  border: double 10px silver;
  border-radius: 50%;
  top: -25%;
  left: -25%;
  position: absolute;
  transform: rotate3d(-.8, 1.2, 0, 75deg);
  box-sizing: border-box;
  -webkit-animation: spin-right 4s linear infinite alternate;
  animation: spin-right 4s linear infinite alternate;
}

.ring7 {
  width: 150%;
  height: 150%;
  border: double 10px gold;
  border-radius: 50%;
  top: -25%;
  left: -25%;
  position: absolute;
  transform: rotate3d(-1.2, .8, 0, 75deg);
  box-sizing: border-box;
  -webkit-animation: spin-right 8s linear infinite alternate;
  animation: spin-right 8s linear infinite alternate;
}

.ring8 {
  width: 150%;
  height: 150%;
  border: double 10px silver;
  border-radius: 50%;
  top: -25%;
  left: -25%;
  position: absolute;
  transform: rotate3d(-1.2, .2, 0, 75deg);
  box-sizing: border-box;
  -webkit-animation: spin-right 1s linear infinite alternate;
  animation: spin-right 1s linear infinite alternate;
}

/* ---------- First orbit - This is the closest to the central point ---------- */
#about {
  position: absolute;
  transform-style: preserve-3d;
  top: 43.5vw;
  left: 43.5vw;
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  background-color: rgba(0,0,0,.8);
  -webkit-animation: spin-right 12s linear infinite alternate;
  animation: spin-right 12s linear infinite alternate;
  animation-direction: reverse;
}

/* ---------- Second orbit - This is the second closest to the central point ---------- */
#second-orbit {
  position: absolute;
  top: 35vw;
  left: 35vw;
  width: 25vw;
  height: 25vw;
  border: 2px orange dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}

/* ---------- Repeating styles for the second orbit planets ---------- */
.second-orbit-planet0 {
  position: absolute;
  top: 4vw;
  right: -2vw;
  height: 6vw;
  width: 6vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
  animation-direction: reverse;
}

.second-orbit-planet0-moon-orbit {
  position: absolute;
  top: 4vw;
  right: -2vw;
  height: 6vw;
  width: 6vw;
  border-radius: 100%;
  -webkit-animation: spin-right 12s linear infinite;
  animation: spin-right 12s linear infinite;
}

.second-orbit-moon00 {
  position: absolute;
  bottom: 4vw;
  right: -1.5vw;
  height: 1vw;
  width: 1vw;
  border-radius: 100%;
  background-color: gray;
}

.second-orbit-planet1 {
  position: relative;
  top: 4vw;
  left: -1.2vw;
  height: 6vw;
  width: 6vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
  animation-direction: reverse;
}

.second-orbit-planet2 {
  position: absolute;
  bottom: -3.2vw;
  left: 6vw;
  height: 8vw;
  width: 8vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
  animation-direction: reverse;
}

/* ---------- Third orbit - This is the middle closest to the central point ---------- */
#third-orbit {
  position: absolute;
  top: 25vw;
  left: 25vw;
  width: 45vw;
  height: 45vw;
  border: 2px orange dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 30s linear infinite;
  animation: spin-right 30s linear infinite;
}

/* ---------- Repeating styles for the third orbit planets ---------- */
.third-orbit-planet0 {
  position: absolute;
  top: 2vw;
  right: 1.5vw;
  height: 9vw;
  width: 9vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 30s linear infinite;
  animation: spin-right 30s linear infinite;
  animation-direction: reverse;
}

.third-orbit-planet0-moon-orbit {
  position: absolute;
  top: 2vw;
  right: 1.5vw;
  height: 9vw;
  width: 9vw;
  border-radius: 100%;
  -webkit-animation: spin-right 9s linear infinite;
  animation: spin-right 9s linear infinite;
}

.third-orbit-moon00 {
  position: absolute;
  bottom: 4vw;
  right: -1.5vw;
  height: 1vw;
  width: 1vw;
  border-radius: 100%;
  background-color: gray;
}

.third-orbit-moon01 {
  position: absolute;
  top: 4vw;
  left: -2vw;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 100%;
  background-color: gray;
}

.third-orbit-moon02 {
  position: absolute;
  top: 0;
  right: -1.5vw;
  height: 2.2vw;
  width: 2.2vw;
  border-radius: 100%;
  background-color: gray
}

.third-orbit-moon03 {
  position: absolute;
  bottom: -.5vw;
  right: 1vw;
  height: 1vw;
  width: 1vw;
  border-radius: 100%;
  background-color: gray;
}

.third-orbit-planet1 {
  position: absolute;
  transform-style: preserve-3d;
  top: 6vw;
  left: .5vw;
  height: 8vw;
  width: 8vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 30s linear infinite;
  animation: spin-right 30s linear infinite;
  animation-direction: reverse;
}
.third-orbit-planet2 {
  position: absolute;
  bottom: -1vw;
  left: 10vw;
  height: 6vw;
  width: 6vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 30s linear infinite;
  animation: spin-right 30s linear infinite;
  animation-direction: reverse;
}

/* ---------- Fourth orbit - This is the circles second farthest to the central point ---------- */
#fourth-orbit {
  position: absolute;
  top: 11vw;
  left: 11vw;
  width: 73vw;
  height: 73vw;
  border: 2px orange dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 40s linear infinite;
  animation: spin-right 40s linear infinite;
}

/* ---------- Repeating styles for the fourth orbit planets ---------- */
.fourth-orbit-planet0 {
  position: absolute;
  bottom: 13vw;
  right: -1vw;
  height: 12vw;
  width: 12vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 40s linear infinite;
  animation: spin-right 40s linear infinite;
  animation-direction: reverse;
}

.fourth-orbit-planet0-moon-orbit {
  position: absolute;
  bottom: 13vw;
  right: -1vw;
  height: 12vw;
  width: 12vw;
  border-radius: 100%;
  -webkit-animation: spin-right 5s linear infinite;
  animation: spin-right 5s linear infinite;
}

.fourth-orbit-moon00 {
  position: absolute;
  bottom: 4vw;
  right: -1.5vw;
  height: 1vw;
  width: 1vw;
  border-radius: 100%;
  background-color: gray;
}

.fourth-orbit-moon01 {
  position: absolute;
  bottom: 4vw;
  left: -3vw;
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  background-color: gray;
}

.fourth-orbit-planet1 {
  position: absolute;
  top: -2vw;
  left: 15vw;
  height: 12vw;
  width: 12vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 40s linear infinite;
  animation: spin-right 40s linear infinite;
  animation-direction: reverse;
}

/* ---------- Fifth orbit - This is the circles furthest away from the central point ---------- */
#fifth-orbit {
  position: absolute;
  top: -.5vw;
  left: -1vw;
  width: 97vw;
  height: 97vw;
  border: 2px orange dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 50s linear infinite;
  animation: spin-right 50s linear infinite;
}

/* ---------- Repeating styles for the fifth orbit planets ---------- */
.fifth-orbit-planet0 {
  position: absolute;
  top: 40vw;
  right: -2vw;
  height: 5vw;
  width: 5vw;
  border-radius: 100%;
  /*background-color: lime;*/
  -webkit-animation: spin-right 4s ease alternate infinite;
  animation: spin-right 4s ease alternate infinite;
}

.fifth-orbit-moon-chicken {
  align-content: center;
  position: absolute;
  top: -2vw;
  right: 0.5vw;
  height: 4.5vw;
  width: 4.5vw;
  border-radius: 100%;
  background-color: gray;
}

.chicken {
  position: absolute;
  top: -1.2vw;
  left: -1.4vw;
  height: 13vh;
}

.fifth-orbit-moon-egg {
  position: absolute;
  bottom: -1vw;
  right: 0.5vw;
  height: 3.2vw;
  width: 3.2vw;
  border-radius: 100%;
  background-color: lime;
}

.egg {
  position: absolute;
  top: .3vw;
  left: .35vw;
  height: 5vh;
}

.fifth-orbit-planet1 {
  position: absolute;
  transform-style: preserve-3d;
  left: 40vw;
  bottom: -5vw;
  height: 11vw;
  width: 11vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 50s linear infinite;
  animation: spin-right 50s linear infinite;
  animation-direction: reverse;
}
.fifth-orbit-planet2 {
  position: absolute;
  top: 9.5vw;
  right: 9.5vw;
  height: 9vw;
  width: 9vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 50s linear infinite;
  animation: spin-right 50s linear infinite;
  animation-direction: reverse;
}
.fifth-orbit-planet3 {
  position: absolute;
  bottom: 13vw;
  left: 0vw;
  height: 17vw;
  width: 17vw;
  border-radius: 100%;
  background-color: gray;
  -webkit-animation: spin-right 50s linear infinite;
  animation: spin-right 50s linear infinite;
  animation-direction: reverse;
}

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
