#React-body {
  background-image: url('./rfm25es1j2iz.jpg');
}

.chicken {
  height: 4vh;
  width: 150vw;
  text-align: center;
  background: repeating-linear-gradient(59deg, #998090 0%, #998090 10%, #3f3344 0%, #3f3344 50%) 0 / 15px 15px;
  animation: 22s linear 0s infinite alternate cylon-eye;
}

.portfolio {
  text-align: center;
  color: white;
}

.addSite {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.chickenBounce {
  animation: chicken-bounce infinite 10s ease-in-out alternate;
  height: 100px;
}

.chickenRoll {
  animation: 1.7s ease-out 0s 1 alternate rollOut;
  height: 200px;
}

h3{
  font-family: 'Monoton', cursive;
  color: #B6FF00;
  margin-left: 12px;
}

h3:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #B6FF00;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  margin-left: 12px;
}

form {
  height: 80px;
}

@keyframes cylon-eye {
  from { transform: translateX(-40vw); }
  to   { transform: translateX(-10vw); }
}

@-webkit-keyframes chicken-bounce {
  0% {
    transform: translateX(-480px) translateY(-35px) rotate(0deg);
  }
  20% {
    transform: translateX(222px) translateY(-15px) rotate(30deg);
  }
  40% {
    transform: translateX(-80px) translateY(15px) rotate(68deg);
  }
  60% {
    transform: translateX(520px) translateY(-25px) rotate(93deg);
  }
  80% {
    transform: translateX(-275px) translateY(15px) rotate(123deg);
  }
  100% {
    transform: translateX(10px) translateY(35px) rotate(180deg);
  }
}

@-webkit-keyframes chicken-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes rollOut {
   from {
      opacity: 1;
      transform: translateX(0px) rotate(0deg);
   }
   to {
      opacity: 0;
      transform: translateX(-100%) rotate(320deg);
   }
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
